//META{"name":"LargeProfilePicture","description":"A larger profile picture for those who have no eyes! (Yoinked from BoardTM after an update)","author":"cruxie","version": "AutoUpdate","website": "https://github.com/xcruxiex/BDDThemes", "source":"https://xcruxiex.github.io/BBDThemes/MiniThemes/LargeProfilePicture.theme.css"}*//{}
/*
/*  Large Profile Picture in Popout */
.avatarPositionNormal-1CZUPk {
    top: 0px;
    left: 0px;
}
#app-mount .avatar-22FtUu {
	border: 0px !important;
	background-color: #0000 !important;
}
#app-mount .avatarWrapperNormal-2tu8Ts > .wrapper-3t9DeA[style*="width: 80px;"] {
	transform: scale(0.8, 0.91) translate(4px, 4px);
}
#app-mount .headerNormal-1l1Znk {
	padding-top: 300px !important;
}
.avatarHint-1E3LMl {
	height: 300px;
	width: 300px;
	top: 0px;
	left: 0px;
}
#app-mount .profileBanner-33-uE1 {
	display: none
}
.headerTop-2y3V6H {
	padding-top: 16px;
}
.userPopout-3XzG_A .wrapper-3t9DeA foreignObject {
    -webkit-mask: none !important;
    mask: none !important;
}
.avatarHintInner-2kMTo4 {
	box-shadow: none;
}
