//META{"name":"Dunes","description":"Minimalist, rounded and smooth","author":"cruxie","version":"AutoUpdate","website": "https://github.com/xcruxiex/BBDThemes", "source":"https://xcruxiex.github.io/BBDThemes/Themes/WIP/Dunes/Base.css"}*//{}
/*
██████╗ ██╗   ██╗███╗   ██╗███████╗███████╗
██╔══██╗██║   ██║████╗  ██║██╔════╝██╔════╝
██║  ██║██║   ██║██╔██╗ ██║█████╗  ███████╗
██║  ██║██║   ██║██║╚██╗██║██╔══╝  ╚════██║
██████╔╝╚██████╔╝██║ ╚████║███████╗███████║
╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚══════╝
+ ========================= +
+ Dunes Theme for BandagedBetterDiscord 
+ Made By cruxie
+ ========================= +
The author cruxie retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are only allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
@import url("https://xcruxiex.github.io/BBDThemes/Themes/WIP/Dunes/Base.css");
/*###################################################################################################*/
:root {
  --bgImage: url("https://i.imgur.com/ZoWEHGm.jpg");
  --mainColor: #2e3e6b;
  --mainDarker: #202b4a;
  --links: #5f4f7d;
}
