/*
Need to do
Drop down list on profiles
Drop down on add game (registered games)
Active now hover

/**
 * @name Xeno
 * @version 2.0
 * @description A customisable minimalistic theme with nice gradients & a background.
 * @author xcruxiex
 * @invite 
 * @source https://xcruxiex.github.io/BBDThemes/Themes/Xeno/Base.css
 * @website https://github.com/xcruxiex/BBDThemes
 */
/*
██╗  ██╗███████╗███╗   ██╗ ██████╗
╚██╗██╔╝██╔════╝████╗  ██║██╔═══██╗
 ╚███╔╝ █████╗  ██╔██╗ ██║██║   ██║
 ██╔██╗ ██╔══╝  ██║╚██╗██║██║   ██║
██╔╝ ██╗███████╗██║ ╚████║╚██████╔╝
╚═╝  ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝
+ ========================= +
+ Xeno Theme for BetterDiscord 
+ Made By cruxie
+ ========================= +
The author cruxie retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are only allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
/* Main Import 
@import url("https://xcruxiex.github.io/BBDThemes/Themes/Xeno/Base.css");
/* MiniThemes */
@import url('https://xcruxiex.github.io/BBDThemes/MiniThemes/CodeBlocks.theme.css');
/* Addons */
@import url('https://xcruxiex.github.io/themes/core/badges.css');
@import url('https://xcruxiex.github.io/themes/core/settings-icons.css');
/*@import url('https://xcruxiex.github.io/BBDThemes/random/hideactivenow.css');
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://xcruxiex.github.io/themes/core/custom-font.css');
/*###################################################################################################*/

:root {
	/* Background color */
	--backgroundColor: #121212;
	--backgroundTransparency: rgba(1, 1, 1, 0.5);

	/* Background image */
	--backgroundImage: url('https://i.imgur.com/l6Qrwos.jpg');
	--backgroundImageOpacity: 0.5;

	/* Home button image */
	--homeButtonImage: url('https://i.imgur.com/RjNJ7sb.jpg');

	/* Theme Colors */
	--uiGradient1: #dc9aa5;
	--uiGradient2: #d15a6e;

	/* Text Colors */
	--textNormal: #dcddde;
	--textMuted: #72767d;
	--text-link: #dc9aa5;
	--channelsDefault: #e4e4e4;
	--channelsNormal: #d6d6d6;
	--channelsHover: #ebebeb;
	--channelsActive: #fff;
	--channelsMuted: #7d7d7d;

	/* Theme custom font (You need to import the font file first)*/
	--customFont: 'Quicksand';
}

/*
0 - Index
  1 - App Background
    1a - Background Image
    1b - Background Color
    1c - Settings Background
  2 - Settings
	2a - Sidebar
	2b - Miscellaneous
	2c - Setting Sections (Named In-Order)
  3 - Friends
	3a - Background
	3b - Grid
	3c - Active Now

*/

/* 1 - App Background */
/* 1a - Background Image */

/* Overlay Color */
.appMount-2yBXZl {
	background-color: var(--backgroundColor) !important;
}

/* Image */
.appMount-2yBXZl::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	background-image: var(--backgroundImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	background-attachment: fixed;
	background-origin: border-box;
	-webkit-mask: radial-gradient(#000 40%, transparent);
	z-index: 0;
	opacity: var(--backgroundImageOpacity);
}

/* 1b - Background Color */

/* Main Background */
.app-2CXKsg,
.bg-1QIAus,
.wrapper-1_HaEi,
.theme-dark .scroller-3X7KbA,
.sidebar-1tnWFu,
.privateChannels-oVe7HL,
.theme-dark .scroller-WSmht3,
.panels-3wFtMD,
.chat-2ZfjoI,
.chatContent-3KubbW,
.theme-dark .themed-Hp1KC_,
.theme-dark .container-YkUktl,
.theme-dark .container-1NXEtd,
.member-48YF_l,
.members-3WRCEx,
.container-3wLKDe,
.container-2o3qEW {
	background: transparent;
}

/* 1c - Settings Background */

/* Background Image */
.contentRegionScroller-2_GT_N::before,
.sidebarRegionScroller-FXiQOh::before {
	content: "";
	width: 100%;
	height: 160%;
	position: absolute;
	pointer-events: none;
	background-image: var(--backgroundImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	background-attachment: fixed;
	background-origin: border-box;
	-webkit-mask: radial-gradient(#000 40%, transparent);
	z-index: 0;
	opacity: var(--backgroundImageOpacity);
}

/* Background Color */
.layer-86YKbF,
.standardSidebarView-E9Pc3j,
.sidebarRegionScroller-FXiQOh,
.contentRegion-3HkfJJ,
.contentRegionScroller-2_GT_N {
	background: transparent !important;
}

/* 2- Settings */
/* 2a - Sidebar */

/* Setting Tabs */
.selected-1sf9UK:not(.top-Ktfr_T .item-2GWPIy) {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.item-2GWPIy:hover:not(.top-Ktfr_T .item-2GWPIy) {
	background-image: linear-gradient(to top right, var(--uiGradient2), var(--uiGradient1));
}

/* Setting Headers */
.header-2F5_LB {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: brightness(1.2);
	background-image: linear-gradient(to top right, var(--uiGradient2), var(--uiGradient1));
}

/* Scroller */
.thin-31rlnD::-webkit-scrollbar-track {
	background-color: transparent;
	border: 0px solid transparent;
}

.thin-31rlnD::-webkit-scrollbar-thumb {
	border: 0px solid transparent;
	border-radius: 5px;
	background-color: var(--backgroundTransparency);
}

.thin-31rlnD::-webkit-scrollbar {
	width: 5px;
}

/* 2b - Miscellaneous */

/* Color Picker */
.theme-dark .customColorPicker-C_jddW {
	background-color: var(--backgroundColor);
	border-color: var(--backgroundColor);
}

.suggestedColor-2q1U7c {
	border-color: var(--backgroundColor);
}

/* Save Changes */
.container-20TyK0 {
	background-color: var(--backgroundColor) !important;
}

/* Checkmarks */
.container-1QtPKm.checked-16gMAN {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.container-1QtPKm.default-colors {
	background-color: var(--backgroundTransparency) !important;
}

/* 2c - Setting Sections (Named In-Order) */

/* My Account */
.accountProfileCard-lbN7n-,
.background-3d_SjE {
	background-color: var(--backgroundTransparency);
}

.fieldList-in8WkP {
	background-color: transparent;
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz,
.lookFilled-1H2Jvj.colorBrand-2M3O3N {
	background-color: var(--uiGradient1);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover,
.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
	background-color: var(--uiGradient2);
}

/* Profiles */
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
	border-color: var(--uiGradient1);
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
	border-color: var(--uiGradient2);
}

.theme-dark .bioTextArea-dDGOeC,
.theme-light .bioTextArea-dDGOeC {
	background-color: var(--backgroundTransparency);
}

.helpIcon-2EyVTp,
.modal-yWgWj->* {
	background-color: var(--backgroundTransparency) !important;
}

.userProfileInnerThemedWithBanner-2624Yx {
	border-radius: 5px;
}

.lookFilled-GPyucw.select-Zz0IcO {
	background-color: var(--backgroundTransparency);
	border-color: transparent;
}

.inputDefault-Ciwd-S {
	background-color: var(--backgroundTransparency);
	border-color: transparent;
}

/* Privacy & Satefy */
.itemFilled-2Fo7lr {
	background-color: var(--backgroundTransparency);
}

.itemFilled-2Fo7lr[aria-checked=true] {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.itemFilled-2Fo7lr:hover:not([aria-checked=true]):not(.disabled-WBmOu_) {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.card-2guEcY:not(.outline-3kFzf8) {
	background-color: var(--backgroundTransparency);
	border-color: transparent;
}

.lookOutlined-3RTC7c.colorBrand-2M3O3N {
	background-color: var(--backgroundTransparency);
	border: 0px;
}

.lookOutlined-3RTC7c.colorBrand-2M3O3N:hover {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
	background-color: transparent;
	border: 0px;
}

/* Authorised Apps */
.card-2guEcY:not(.outline-3kFzf8),
.cardPrimary-pAe8Ed.outline-3kFzf8 {
	background-color: var(--backgroundTransparency);
	border-color: transparent;
}

/* Devices */
.sessionIcon-2fwSzb {
	background-color: var(--backgroundTransparency);
	color: rgba(255, 255, 255, 0.5)
}

.root-g14mjS,
.footer-31IekZ {
	background-color: var(--backgroundColor);
	border-color: transparent;
}

/* Connections */
.connectContainer-1hylYM,
.connection-YOVI9j,
.metadataContainer-35U-On,
.integration-1qC-fv,
.container-QlmnKJ,
.accountButtonInner-33vCDY,
.accountBtnInner-1DCgBm {
	background-color: var(--backgroundTransparency);
}

.connectionHeader-Ixbb1s {
	background-color: transparent;
	border-bottom: 1px solid var(--backgroundTransparency);
}

.accountButtonInner-33vCDY:hover,
.accountBtnInner-1DCgBm:hover {
	background-color: var(--uiGradient1);
}

/* Nitro */
.theme-dark .feature-2IUcBI {
	background-color: var(--backgroundTransparency);
}

/* Server Boost */
.guildHeader-1EPPBS,
.guildSubscriptionSlots-1i_C21,
.menu-1QACrS {
	background-color: var(--backgroundTransparency);
}

.guildSubscriptionSlot-1mef6n {
	border-bottom: 1px solid var(--background);
}

.cardWrapper-1bSePP {
	background-color: var(--backgroundTransparency);
}

/* Subscriptions */
.detailsBlock-24pLFz {
	background-color: var(--backgroundTransparency);
}

.popout-15UxD6 {
	background-color: var(--backgroundColor);
}

.option-Uc12mm[aria-selected=true]:not(.option-Uc12mm.multi-2vPqc4) {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

/* Gift Inventory */
.promotionCard-mo7ClH,
.copyInput-3AbKWB {
	background-color: var(--backgroundTransparency);
}

/* Billing */
.theme-dark .paymentPane-ut5qKZ,
.theme-dark .payment-2bOh4k:hover,
.theme-dark .expandedInfo-1W31i3 {
	background-color: var(--backgroundTransparency);
}

.theme-dark .paginator-1eqD2g,
.theme-dark .payment-2bOh4k {
	background-color: transparent;
}

.theme-dark .bottomDivider-ZmTm-j,
.pageButtonNext-2_bbdk.disabled-29cfPA,
.pageButtonPrev-3q9rh8.disabled-29cfPA,
.pageIndicator-cOEPV8 {
	border-color: var(--backgroundTransparency);
	color: white;
}

.content-2eQb8J {
	background-color: var(--backgroundColor);
}

.cardInput-33x7OF {
	background-color: var(--backgroundTransparency);
}

/* Appearance */
.darkIcon-e6uv7V:nth-last-child(1) {
	background-color: var(--backgroundTransparency);
}

.theme-dark .bar-2H7Q9u,
.theme-dark .markDash-1ATsxA {
	background-color: var(--backgroundTransparency);
}

.barFill-3RgCsY {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

/* Accessibility */
.previewMessage-2g_aBv {
	background-color: var(--backgroundTransparency);
}

/* Voice & Video */
.cameraWrapper-nG8dpo,
.backgroundOptionInner-SSz19O {
	background-color: var(--backgroundTransparency);
}

/* Text & Images */

/* Notifications */

/* Keybinds */
.key-RP8gj3 {
	background-color: var(--backgroundTransparency);
	border: none;
	box-shadow: inset 0 -4px 0 var(--backgroundColor) !important;
	-webkit-box-shadow: inset 0 -4px 0 var(--backgroundColor) !important;
}

/* Language */

/* Windows Settings */

/* Streamer Mode */

/* Advanced */

/* Activity Privacy */

/* Registered Games */
.theme-dark .notDetected-M3Ghh2 {
	background-color: var(--backgroundTransparency);
}

/* Game Overlay */
.option-1QI4c9 {
	background-color: var(--backgroundTransparency);
}

.selected-18Wszc.option-1QI4c9 {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.wrapper-SdcMKg {
	border-color: var(--uiGradient1);
}

/* Better Discord */
/* Settings */
.bd-switch input:checked+.bd-switch-body {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

.bd-switch-body {
	background-color: var(--backgroundTransparency) !important;
}

.bd-select,
.bd-select .bd-select-options,
.bd-number-input {
	background-color: var(--backgroundTransparency) !important;
	border: none;
}

/* Updates */
.bd-button {
	background-image: linear-gradient(to top right, var(--uiGradient1), var(--uiGradient2));
}

/* Plugins */
.bd-search-wrapper {
	background-color: var(--backgroundTransparency);
}

/* Themes */
.bd-addon-list .bd-addon-card,
.bd-addon-list .bd-addon-header {
	background-color: var(--backgroundTransparency);
}

/* End BD */

/* What's New */
.root-1CAIjD,
.footer-IubaaS {
	background-color: var(--backgroundColor);
}

.theme-dark .rootWithShadow-2hdL2J,
.theme-dark .footerSeparator-3U8YsT {
	box-shadow: none;
}

/* Hypesquad */

/* Logout */

/* 3 - Friends */
/* 3a - Background */

/* background */
.container-2cd8Mz,
.nowPlayingColumn-1eCBCN,
.container-1oAagU {
	background-color: transparent;
}

.scroller-hE2gWq {
	border: none;
}

/* Scroller */
.auto-2TJ1RH::-webkit-scrollbar-track {
	background-color: transparent;
	border: 0px solid transparent;
}

.auto-2TJ1RH::-webkit-scrollbar-thumb {
	border: 0px solid transparent;
	border-radius: 5px;
	background-color: var(--backgroundTransparency);
}

.auto-2TJ1RH::-webkit-scrollbar {
	width: 5px;
}

/* Search Bar */
.searchBar-2aylmZ {
	background-color: var(--backgroundTransparency);
}

/* weird shadow thing ???????? */
.theme-dark .children-3xh0VB:after {
	display: none;
}

/* 3b - Grid */

/* Friends List */
.peopleListItem-u6dGxF {
	position: relative;
	display: inline-grid;
	height: 175px !important;
	width: 315px;
	margin: 1% !important;
	padding: 0 !important;
	border-radius: 5px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	animation: friendGridFade .75s ease;
	transition: 250ms ease all, 350ms ease background-color;
}

.peopleListItem-u6dGxF:hover {
	transform: scale(1.05);
	background-color: transparent;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}

.peopleListItem-u6dGxF:active {
	transform: scale(0.95);
}

/* Name */
.discordTag-3HiQI9 {
	position: absolute;
	display: block;
	top: 30px;
	left: 64px;
	color: rgba(255, 255, 255, 0.65);
	font-size: 13px;
	overflow: visible;
	transition: .15s ease color;
}

/* Discriminator #number */
.discriminator-WV5K5s {
	visibility: visible !important;
	position: absolute;
	top: 15px;
	left: 0px;
	color: rgba(255, 255, 255, 0.4);
	opacity: 1 !important;
	transition: .15s ease color;
}

/* Avatar */
.avatar-2MSPKk.wrapper-3Un6-K {
	margin-bottom: 85px;
	margin-left: 15px !important;
}

/* action buttons */
.actions-YHvpIT {
	position: absolute;
	left: 69%;
	top: 26px;
}

/* Status position */
.text-MPIeXO {
	position: absolute;
	background-image: linear-gradient(to top right, var(--uiGradient2), var(--uiGradient2));
	width: 100%;
	color: rgba(255, 255, 255, 1);
	font-weight: 500 !important;
	font-size: 11px;
	line-height: 18px;
	padding-left: 5px;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Status position if activity */
.icon-Lupfh-,
.customStatusEmoji-3UDRIW {
	padding-left: 94%;
}

/* Activity Icon */
.activity-1KqKY2 {
	position: absolute;
	width: 100%;
	padding-left: 0px;
	top: 0;
	left: 0;
}

/* Message Button */
.actionButton-3-B2x-,
.actionButton-3-B2x-.highlight-3DSi7b {
	background-color: transparent;
}

.actionButton-3-B2x-:hover {
	background-image: linear-gradient(to top right, var(--uiGradient2), var(--uiGradient2));
}

/* 3c - Active now */

/* Boxes */
.wrapper-2RrXDg {
	background-color: var(--backgroundTransparency);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	border: none;
}

.wrapper-2RrXDg:hover {
	background-color: var(--backgroundTransparency);
}

.theme-dark .inset-SbsSFp,
.section-3G9aLW {
	background-color: transparent;
}
