/**
 * @name Xeno
 * @version 2.0
 * @description A minimalistic theme with nice gradients & a background image feature.
 * @authorId 332394843743584256
 * @invite Tzm2paq
 * @source https://xcruxiex.github.io/BBDThemes/Themes/Xeno/Base.css
 * @website https://github.com/xcruxiex/BBDThemes
 *//*
██╗  ██╗███████╗███╗   ██╗ ██████╗
╚██╗██╔╝██╔════╝████╗  ██║██╔═══██╗
 ╚███╔╝ █████╗  ██╔██╗ ██║██║   ██║
 ██╔██╗ ██╔══╝  ██║╚██╗██║██║   ██║
██╔╝ ██╗███████╗██║ ╚████║╚██████╔╝
╚═╝  ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝
+ ========================= +
+ Xeno Theme for BandagedBetterDiscord 
+ Made By cruxie
+ ========================= +
The author cruxie retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are only allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
/* Main Import */
@import url("https://xcruxiex.github.io/BBDThemes/Themes/Xeno/Base.css");
/* MiniThemes */
@import url('https://xcruxiex.github.io/BBDThemes/MiniThemes/CodeBlocks.theme.css');
/* Addons */
@import url('https://codedotspectra.github.io/themes/core/badges.css');
@import url('https://xcruxiex.github.io/BBDThemes/random/roles.css');
@import url('https://xcruxiex.github.io/BBDThemes/random/hideactivenow.css');
@import url('https://xcruxiex.github.io/BBDThemes/random/bluremail.css');
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*###################################################################################################*/

:root {
  /* Background color */
  --backgroundColor: #121212;

  /* Background image */
  --backgroundImage: url('https://i.imgur.com/l6Qrwos.jpg');
  --backgroundImageOpacity: 0.50;

  /* Home button image */
  --homeButtonImage: url('https://i.imgur.com/RjNJ7sb.jpg');

  /* Theme Colors */
  --uiGradient1: #dc9aa5;
  --uiGradient2: #d15a6e;

  /* Text Colors */
  --textNormal: #dcddde;
  --textMuted: #72767d;
  --textLinks: #dc9aa5;
  --channelsDefault: #e4e4e4;
  --channelsNormal: #d6d6d6;
  --channelsHover: #ebebeb;
  --channelsActive: #fff;
  --channelsMuted: #7d7d7d;

  /* Theme custom font (You need to import the font file first)*/
  --customFont: 'Quicksand';
}

