/* Midnight Fixes Bc trop is dumdum */

.members-1998pB {
    top: 144px;
    right: 0px;
    width: 280px;
}

#app-mount .guilds-1SWlCJ {
    margin-top: 0px !important;
    top: -13px;
}

.tutorialContainer-1v44GL .listItem-2P_4kh.da-listItem {
border-bottom: 2px solid var(--hover);
}

.theme-dark .perksModal-fSYqOq, .perk-2WeBWW {
    background: transparent !important;
}

.homeIcon-tEMBK1 a{
    margin-top: 7px !important;
}
