//META{"name":"Xeno","description":"A minimalistic theme with nice gradients & a background image feature.","author":"cruxie","version":"AutoUpdate","source":","website": "https://github.com/xcruxiex/BBDThemes", "source":"https://xcruxiex.github.io/BBDThemes/Themes/WIP/Xeno/Base.css"}*//{}
/*
██╗  ██╗███████╗███╗   ██╗ ██████╗
╚██╗██╔╝██╔════╝████╗  ██║██╔═══██╗
 ╚███╔╝ █████╗  ██╔██╗ ██║██║   ██║
 ██╔██╗ ██╔══╝  ██║╚██╗██║██║   ██║
██╔╝ ██╗███████╗██║ ╚████║╚██████╔╝
╚═╝  ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝
+ ========================= +
+ Xeno Theme for BandagedBetterDiscord 
+ Made By cruxie
+ ========================= +
The author cruxie retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are only allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
@import url("https://xcruxiex.github.io/BBDThemes/Themes/WIP/Xeno/Base.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
/*###################################################################################################*/

:root {
  /* Background color */
  --backgroundColor: #121212;

  /* Background image */
  --backgroundImage: url('https://i.imgur.com/CARvdZU.jpg');
  --backgroundImageOpacity: .75;

  /* Home button image */
  --homeButtonImage: url('https://i.imgur.com/CARvdZU.jpg');

  /* Theme Colors */
  --uiGradient1: #f4690d;
  --uiGradient2: #f8cb16;

  /* Text Colors */
  --textNormal: #dcddde;
  --textMuted: #72767d;
  --textLinks: Orange;
  --channelsDefault: #e4e4e4;
  --channelsNormal: #d6d6d6;
  --channelsHover: #ebebeb;
  --channelsActive: #fff;
  --channelsMuted: #7d7d7d;

  /* Theme custom font (You need to import the font file first)*/
  --customFont: 'Ubuntu';
}
